.icon{
    font-size: 2.5rem;
    transition: .5s;
    cursor:pointer
}
.backIcon{
    color: white
}
.backIcon:hover{
    color:grey
}
.continueIcon{
    color: green;
}
.cancelIcon{
    color: red;
}